dummy/src/main/mule/dummy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="eafa8ea1-7960-4cb2-a3af-e1ce5e0d97c3" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0fcd2bc7-64ca-49b9-83ed-dac6ed236306" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dummyFlow" doc:id="7a34792f-a714-47e9-9dd5-2fa6d7633ef9" >
		<http:listener doc:name="Listener" doc:id="77f79d89-6c6c-48cf-a21a-c3e73ffed861" config-ref="HTTP_Listener_config" path="/dummy"/>
		<set-payload value='"Hello World!"' doc:name="Set Payload" doc:id="4643c0fb-d9d6-4431-b747-6834ffbb2001" />
		<logger level="INFO" doc:name="Logger" doc:id="0f6ed3a9-d4c5-4d97-ab24-02813f5ba383" message="#[payload]"/>
	</flow>
</mule>
