dummy/src/main/mule/dummy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0fcd2bc7-64ca-49b9-83ed-dac6ed236306" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dummyFlow" doc:id="7a34792f-a714-47e9-9dd5-2fa6d7633ef9" >
		<http:listener doc:name="Listener" doc:id="77f79d89-6c6c-48cf-a21a-c3e73ffed861" config-ref="HTTP_Listener_config" path="/dummy"/>
		<ee:transform doc:name="Transform Message" doc:id="9d5b33d2-06ab-47ff-8fda-27d76fb601f2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"Welcome! " ++ payload.firstName ++ " " ++ payload.lastName ++ ". Your customer id is " ++ payload.cid]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
